# Node.js
**/node_modules/
**/dist/
**/.angular/

# Environment files
.env
appsettings.Development.json

# Tooling
.vscode/
**/.vs/
**/[Bb]in/
**/[Oo]bj/

# Database
*.mdf
*.ldf
*.db
*.db-journal
*.db-wal
*.db-shm
